{% include "header.html" %}
{% block body %}
<head>
    <title>

    </title>
    <link rel="stylesheet" href="company_details.css" />
</head>


<body>
    <section id="Company_Details">
        <h1 align="center">Company Details</h1>
        <div class="Companies">
            <center><a href="Reliance">Reliance Industries Limited</a></center>
        </div>
        <div class="Companies">
            <center><a href="#B">B</a></center>
        </div>
        <div class="Companies">
            <center><a href="#C">C</a></center>
        </div>
        <div class="Companies">
            <center><a href="#D">D</a></center>
        </div>
        <div class="Companies">
            <center><a href="#E">E</a></center>
        </div>
    </section>


    <section id="Rel" class="Company_Details">
        <center>
            <div class="Company_Heading">
                <a href="#Company_Details">
                    <center>Reliance Industries Limited</center>
                </a>
            </div>


            <table  style="width: 70%; height: 50%;">
                <tr>
                    <th>Details</th>
                    <th>Details</th>
                </tr>

                <tr>
                    <td>High Price</td>
                    <td>Low Price</td>
                </tr>

                <tr>
                    <td>Open Price</td>
                    <td>Volume</td>
                </tr>

                <tr>
                    <td>Change</td>
                    <td>Market-Cap</td>
                </tr>

                <tr>
                    <td>52-Week High</td>
                    <td>52-Week Low</td>
                </tr>

                <tr>
                    <td>Ask Price</td>
                    <td>Bid Price</td>
                </tr>

                <tr>
                    <td>Ask Size</td>
                    <td>Bid Size</td>
                </tr>
            </table>
        </center>

    </section>


</body>
{% endblock %}