{% include "header.html" %}
{% block body %}


<body>
    <style>#Company_Details {
        display: flex;
        flex-direction: column;
        padding: 3px 200px;
        height: 740px;
        justify-content: center;
        align-items: center;
    }
    
    #Search{
        width: 20%;
    }
    #Company_Details::before {
        content: "";
        position: absolute;
        top: 0px;
        left: 0px;
        height: 968px;
        width: 100%;
        z-index: -1;
        opacity: 0.95;
    }
    
    #Company_Details h1 {
        color: white;
        font-size: 3rem;
        display: block;
        width: 80%;
        background-color: gray;
        border-radius: 30px;
        padding: 10px 10px;
        text-align: center;
    }
    
    .Company_Details .item {
        color: black;
        background-color: gold;
        margin: 10px;
        display: block;
        width: 300px;
        height: 40px;
        border-radius: 20px;
        text-decoration: none;
        font-size: 1.4rem;
    }
    
    .Companies {
        font-size: 1.8rem;
        margin: 5px;
    }
    
    .Companies a {
        color: black;
        background-color: #ffb6c1;
        display: block;
        width: 400px;
        height: 60px;
        padding: 10px 10px;
        border-radius: 20px;
        text-decoration: none;
    }
    
    .Companies a:hover {
        color: black;
        background-color: lightgoldenrodyellow;
    }
    
    .Company_Heading a {
        color: white;
        font-size: 3rem;
        display: block;
        width: 80%;
        background-color: gray;
        border-radius: 30px;
        padding: 10px 10px;
    }
    
    .Company_Heading a:hover {
        color: white;
        font-size: 3rem;
        display: block;
        width: 80%;
        background-color: lightgray;
        border-radius: 30px;
        padding: 10px 10px;
    }
    
    .Companies {
        cursor: pointer;
    }
    
    #heading {
        background-color: orange;
        font-size: 1.4rem;
    }
    
    table{
        border-collapse: separate;
        border-spacing: 15px 15px;
        color: #2f4f4f;
        
    }
    
    td{
        text-align: center;
        font-size: 30px;
        background-color:#dcdcdc;
    
        border-radius: 30px;
    }
    
    th{
    
        font-size: 30px;
        background-color:#dcdcdc;
        border-radius: 30px;
    }
    button{
        width:100%;  
        font-size: 30px;
        background-color:#dcdcdc;
        border-radius: 30px;  
    }
    </style>   

<input type="search" name="cmps" list="list1">
<datalist id="list1">
    <option value="a"></option>
    <option value="b"></option>
    <option value="c"></option>
    <option value="d"></option>
</datalist>
    <button id="Search"  onclick="fun()" window.location.href="http://Comapany_details?comp="+fun() > Search</button>



    <section id="Rel" class="Company_Details">
        <center>
            <div class="Company_Heading">
                <div>
                    <h1>{{shrs['MSFT']['shortName']}}  ${{shrs['MSFT']['regularMarketPrice']}} 
                        <label id="pc"></label></h1>
                         
                </div>
             </div>

            <table  style="width: 70%; height: 50%;">
                

                <tr>
                    <td>High Price: ${{shrs['MSFT']['regularMarketDayHigh']}}</td>
                    <td>Low Price: ${{shrs['MSFT']['regularMarketDayLow']}}</td>
                </tr>

                <tr>
                    <td>Open Price: ${{shrs['MSFT']['regularMarketOpen']}}</td>
                    <td>Volume: ${{shrs['MSFT']['volume']   }}</td>
                </tr>

                <tr>
                    <td>sector : {{shrs['MSFT']['sector']}}</td>
                    <td>Market-Cap: {{'%0.3f'%(shrs['MSFT']['marketCap']/1000000000)|float}}T</td>
                </tr>

                <tr>
                    <td>52-Week High: {{shrs['MSFT']['fiftyTwoWeekHigh']}}</td>
                    <td>52-Week Low: {{shrs['MSFT']['fiftyTwoWeekLow']}}</td>
                </tr>

                <tr>
                    <td>P/E ratio: {{shrs['MSFT']['trailingPE']}}</td>
                    <td>Dividend: {{shrs['MSFT']['dividendYield']}}</td>
                </tr>

                <tr>
                    <td><a href="/trade?trade_type=Buy"><button>Buy</button></a></td>
                    <td><a href="/trade?trade_type=Sell"><button>Sell</button></a></td>
                </tr>
            </table>
        </center>
        <img src="/my_plot.jpeg">
    </section>


</body>
<script>
    var percentage="{{'%0.2f'%(shrs['MSFT']['regularMarketPrice']-shrs['MSFT']['regularMarketPreviousClose'])|float}}"/"{{shrs['MSFT']['regularMarketPreviousClose']}}" *100;
    var change="{{'%0.2f'%(shrs['MSFT']['regularMarketPrice']-shrs['MSFT']['regularMarketPreviousClose'])|float}}" ;
    percentage=percentage.toFixed(2);
    
    if(percentage<0){

    }else{
        document.getElementById("pc").innerHTML="+"+change+" ( +"+percentage+" %)";
        document.getElementById("pc").style.color="green";
    }

    function fun(){
        
        var comp=document.getElementsByName('cmps')[0].value;
            
        return comp;
            
    
    
        }
       
   
</script>
{% endblock %}