<!DOCTYPE html>

<head>
    <title>

    </title>
    <link rel="stylesheet" href="transactions.css" />
</head>


<body style="font-family: 'Open Sans',sans-serif;">
    <table  style="width: 100%; ">
        <tr>
            <th id="Type" height="50px"><a href="dbms.html" style="text-decoration: none;">Executed</a></th>
            <th id="Type" height="50px"><a href="dbms2.html" style="text-decoration: none;">Pending</a></th>
        </tr>
    </table>

    <div style=" align-self: center; display: grid;">
        <table id="t1" style="width: 100%;">
            <tr>
                <th style="background-color: aqua; height: 30px;">Company Name</th>
                <th  style="background-color: gray; height: 30px;"></th>
            </tr>
            <tr>
                <td id="Par">Transaction Date</td>
                <td id="Par">Price Per Share</td>
            </tr>
            <tr>
                <td id="Par">Quantity</td>
                <td id="Par">Transaction Total</td>
            </tr>
        </table>

    </div>


</body>