{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
{% block body %}
<head>
    <title> Stocks Stonks! ?? </title>
</head>
<body>
    <header>
        {% block header %}
            Header include here
        {% endblock %}
    </header>
    {% block navigation %}
        <div id=nav>
            Navigation
        </div>
    {% endblock %}
</body>

{% endblock %}