{% include "header.html" %}
{% block body %}
<style>
    
   .p{ 
       display:inline-flex;
       margin: 5px;
   }
   body{
      align-items: center;
      margin:0;
      background-color: rgb(0, 20, 110);
      color:rgb(255, 255, 255)
    }
    
    .topnav {
      overflow: hidden;
      background-color: rgb(10, 28, 46);
    }
    
    .topnav a {
      float: left;
      display: block;
      color: #f2f2f2;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
    }
    
    .topnav a:hover {
      background-color: #ddd;
      color: black;
    }
    
    .topnav a.active {
      background-color: #f11313;
      color: white;
    }
    
    .topnav .icon {
      display: none;
    }
    
    @media screen and (max-width: 600px) {
      .topnav a:not(:first-child) {display: none;}
      .topnav a.icon {
        float: right;
        display: block;
      }
    }
    
    @media screen and (max-width: 600px) {
      .topnav.responsive {position: relative;}
      .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
      }
      .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
      }
    }
   


</style>
<body>
  {% if user %}
  <div class="topnav" id="myTopnav">
    <a href="/">Home</a>
    <a href="/login">Login</a>
    <a href="/portfolio" class="active">Portfolio</a>
    <a href="/transactions">Transactions</a>
    <a href="/company_details">Company Details</a>
    <a href="/user_home">Account Summary</a>
    <a href="/personal_details">Personal Details</a>
    <a href="/logout">Logout</a>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
      <i class="">...</i>
    </a>
  </div>
  {% else %}
  <div class="topnav" id="myTopnav">
    <a href="/">Home</a>
    <a href="/login" class="active">Login</a>
    <a href="/company_details">Company Details</a>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
      <i class="">...</i>
    </a>
  </div>
  {% endif %}
  <script>
  function myFunction() {
    var x = document.getElementById("myTopnav");
    if (x.className === "topnav") {
      x.className += " responsive";
    } else {
      x.className = "topnav";
    }
  }
  </script>
  
    <h1>Portfolio</h1>
    <div>
        DEMAT A/C No: {{dmt.account_no}}<br>
        Total Investment: {{dmt.Funds_Invested}}<br>
        Current Investment:<br>
        Overall Gain/Loss: <br>
    </div>
    <hr>
        {% for port in pft %}
        <div id="portfolio" >
            <div class="p">
                <div id="company_name">
                    <b> {{cmp[port.company_id].name}}</b>
                </div>
                <div id="current_investment">
                    &nbsp;   &nbsp; ${{(shrs['Open'][port.company_id][-1]|float) * port.quantity}}
                </div>
            </div>
            <br>
            <div class="p">
                <div id="current_price">
                    Current Price : ${{shrs['Open'][port.company_id][-1]}}
                </div>
                <div id="buy_price">
                    &nbsp;   &nbsp;Buy price : ${{port.bid_price}}
                </div>
            </div>
        <br>
            <div class="p">
                <div id="Quantity">
                    Quantity : {{port.quantity}}
                </div>
                <div id="investment">
                    &nbsp;   &nbsp;Investment : ${{port.bid_price * port.quantity}}
                </div>
            </div>
            <br>
            <div id="profit_loss">
                <!-- ( buy_price < current_price ? Profit : Loss ) -->
               
                ${{((shrs['Open'][port.company_id][-1] * port.quantity)|float - (port.bid_price * port.quantity)|float)|abs}}
            </div>
            <hr>
        </div>
        {% endfor %}
</body>

{% endblock %}