{% include "header.html" %}
{% block body %}
<style>
    body {
      margin: 0;
      background-color: rgb(0, 20, 110);
      color:rgb(255, 255, 255);
      
    }
    *{
        font-size: large;
    }
    .topnav {
      overflow: hidden;
      background-color: rgb(10, 28, 46);
    }
    
    .topnav a {
      float: left;
      display: block;
      color: #f2f2f2;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
    }
    
    .topnav a:hover {
      background-color: #ddd;
      color: black;
    }
    
    .topnav a.active {
      background-color: #f11313;
      color: white;
    }
    
    .topnav .icon {
      display: none;
    }
    
    @media screen and (max-width: 600px) {
      .topnav a:not(:first-child) {display: none;}
      .topnav a.icon {
        float: right;
        display: block;
      }
    }
    
    @media screen and (max-width: 600px) {
      .topnav.responsive {position: relative;}
      .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
      }
      .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
      }
    }
    .trade{
        text-align: center;
        display: block;
        padding: 10px 10%;
        border: 3px solid rgb(24, 228, 218);
        margin-left: 15%;margin-right: 15%;
    }
table{
    width:100%;
    
}


button {
  background-color: #0b2cec;
  color: rgb(255, 255, 255);
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 60%;
}

button:hover {
  opacity: 0.7;
}

.cancel  {
  background-color: #ec0b29;
  color: rgb(255, 255, 255);
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
}

</style>
<script>
   
    function price(){

   
        var current_price="{{share_info['regularMarketPrice']}}";
        var quantity=document.getElementById("quantity").value;
        
        
        var cash = document.getElementById("cash");
        
        cash.innerHTML= (quantity*current_price);
       
    }

   
       
     
    
    
</script>
 <button id="bs" onClick="return buy_sell()">Buy</button> 
    <div class="trade">
        <h1>Place Order</h1>
        <table>
            <tr>
                <td>Order Type:</td>
                <td>Market</td>
            </tr>
            <tr>
                <td>Comapany Name:</td>
                <td>{{share_info['shortName']}}</td>
                  
            </tr>
            <tr>
                <td>Market Price:</td>
                <td>${{share_info['regularMarketPrice']}}</td>
                 
            </tr>
            <tr>
              <td>DEMAT A/C No:</td>
              <td>{{dmt.account_no}}</td>
               
          </tr>
            <tr>
                <!-- Buy / Sell --> 
                <td id="bs_quan">
                        Buy Quantity:
                </td>  
                <td>
                    <input 
                        id="quantity" 
                        placeholder="Number Of Stocks "
                        type="number"
                        onchange="return price()"
                    >
                </td>
               
            </tr>
            <tr>
                <td>Available Funds: </td>
                <td>{{dmt.Funds_Avail}} </td>
                 
            </tr>
            <tr>
                <td id="bs_capacity">
                    Buying Capacity:
                </td >  <td id="cap">
<!-- (int) Available Funds / current price -->
                <!-- / Shares Available (from portfolio) -->
                </td>
            </tr>
            <tr>
                 <td id="total">Total Amount Debit :</td><!-- Total Proceeds --> 
                 <td id="cash"> 0 </td>
            </tr>
            <tr>
                
                <td>
                    <button class="cancel"  onclick="history.back()">Cancel</button>
                </td>
                <td>
                    <button id="btn" onClick="check_trans()">
                        Buy
                   <!-- Sell -->
                    </button>
                </td>
            </tr>
        </table>
    </div>
<script>
  var getParams = function (url) {
	var params = {};
	var parser = document.createElement('a');
	parser.href = url;
	var query = parser.search.substring(1);
	var vars = query.split('&');
	for (var i = 0; i < vars.length; i++) {
		var pair = vars[i].split('=');
		params[pair[0]] = decodeURIComponent(pair[1]);
	}
	return params;
};
var trade_type=getParams(window.location.href)['trade_type'];

      var max='{{dmt.Funds_Avail}}'/"{{share_info['regularMarketPrice']}}";
      max=Math.floor(max);
       if('{{sell}}'==1){
           document.getElementById("bs_quan").innerHTML="Selling Quantity"
           document.getElementById("bs_capacity").innerHTML="Shares Available"
           document.getElementById("total").innerHTML="Total Proceeds:"
           document.getElementById("btn").innerHTML="Sell"
           document.getElementById("cap").innerHTML='{{max_lim}}';
       }else {
       
            document.getElementById("bs_quan").innerHTML="Buying Quantity"
            document.getElementById("bs_capacity").innerHTML="Buying Capacity"
            document.getElementById("total").innerHTML="Total Amount Debit:"
            document.getElementById("btn").innerHTML="Buy"
            document.getElementById("cap").innerHTML=max+" number of shares";
       }
    function autoRefresh() {
        window.location = window.location.href;
    }
    setInterval('autoRefresh()', 60000);
     function check_trans(){
      var quantity=document.getElementById("quantity").value;
      if(quantity==0){
        alert("Please enter quantity!!!")
        return false;
      }
        if('{{sell}}'==1){
          if('{{max_lim}}'==0){
            alert("You Don't have Any Shares Available to Sell!!")
          }
          if('{{max_lim}}'<quantity){
            alert("Not Sufficient Shares Available in DEMAT to Sell "+quantity+" Share!!!")
          }
          else{
            location.href="/user_home?trade=1&company_id="+"{{share_info['symbol']}}"+
            "&company="+"{{share_info['shortName']}}"+
            "&buy=0"+
            "&price="+"{{share_info['regularMarketPrice']}}"+
            "&quantity="+document.getElementById("quantity").value;+
            "&status=1"
           
          }
        }
        else{
          if(quantity>max){
            alert("Not Sufficient Balance to buy "+ quantity+" shares. \n Please enter quantity less than or equal to "+max);
            return false;
          }
          else{
            location.href="/user_home?trade=1&company_id="+"{{share_info['symbol']}}"+
            "&company="+"{{share_info['shortName']}}"+
            "&buy=1"+
            "&price="+"{{share_info['regularMarketPrice']}}"+
            "&quantity="+document.getElementById("quantity").value;+
            "&status=1"
          }
        }
     }
</script>
{% endblock %}